@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import '~antd/dist/antd.css';


@fontface {
  font-family: 'Unica One';
  src: url('https://fonts.googleapis.com/css?family=Unica+One&display=swap')
}

@fontface {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css?family=Nunito&display=swap')
}

.App {
  text-align: center;
  font-family: 'Nunito';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F9EBDE;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  /* font-family: 'Unica One'; */
  text-decoration: none;
}
.App-header a {
  color:#3E2B49;
  margin:0 25px;
}

.App-link {
  color: #61dafb;
}

.section {
  padding-top: 200px; 
  padding-bottom: 200px;
  padding-left: 15%;
  padding-right: 15%;
  flex: absolute;
  background-color: #F9EBDE;
}

.section-cover {
  padding-top: 200px; 
  padding-bottom: 200px;
  padding-left: 30%;
  padding-right: 30%;
  flex: absolute;
  background-color:#BE5358;
  color: white;
}

h1{
  font-size: 3rem;
  /* font-family: 'Unica One'; */
}

h2{
  font-size:2rem;
  /* font-family: 'Unica One'; */
  color:Black;
}

h3{
  color:#3E2B49;
}

p{
  font-size: 1rem;
}

#character1{
  /* background-color:#BE5358; */
  position: fixed;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80'); 
  background-size: contain; 
  color: black;
}

.resourceItem{
  padding: 1rem;
}

.resourceList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resourceCard{
  background-color: #FCF8F4;
  /* border-style: solid;
  border-color: black; */
  border-radius: 10px;
  padding: 10px;
}

.app-Footer{
  background-color:#3E2B49;
  margin-bottom: 0px;
  height: 100px;
}


/* Button{
  border-style: solid;
  border-radius:10px;
  padding:5px;
  width:100%;
} */

.resourceWrapper{
  justify-content: center;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  overflow: hidden;
  background-color: #FCF8F4;
  border-radius: 10px;
  padding: 100px;
}

/* .carouselWrapper{
  max-width: 20px;
} */

#homepagetext{
  padding-left: 25%;
  padding-right: 25%;
  flex: absolute;
}

#doodle{
  height: 100px;
  margin-bottom:0px;
}