@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@fontface {
  font-family: 'Unica One';
  src: url('https://fonts.googleapis.com/css?family=Unica+One&display=swap')
}

@fontface {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css?family=Nunito&display=swap')
}

.App {
  text-align: center;
  font-family: 'Nunito';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F6C07B;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-family: 'Unica One';
  text-decoration: none;
}
.App-header a {
  color:white;
  margin:0 25px;
}

.App-link {
  color: #61dafb;
}

.section {
  padding-top: 200px; 
  padding-bottom: 200px;
  padding-left: 30%;
  padding-right: 30%;
  flex: absolute;
  background-color: #F9E6CA;
}

.section-cover {
  padding-top: 200px; 
  padding-bottom: 200px;
  padding-left: 30%;
  padding-right: 30%;
  flex: absolute;
  background-color:#F3A488;
  color: white;
}

h1{
  font-size: 3rem;
  font-family: 'Unica One';
}

h2{
  font-size:2rem;
  font-family: 'Unica One';
}
